<!DOCTYPE html>
<head>
<meta charset="utf-8">
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'glowna/home.css' %}"/>
<link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet">

</head>
<div class="wrapper">
		<div class="content-wrapper">
		<div class="logo"><a href="../event"><h1>NAZWA PROJEKTU</h1></a></div>
		<h3>Pomyślnie dodano wydarzenie. Po zaakceptowaniu przez administratora pojawi się na stronie. 	</h3>
		</div>
</div>
	
<script src="js/script.js"></script>
</body>
</html>
