body,html{
	
}
body{
background: url("tlo.png") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-attachment: fixed;
  	padding:0;
  	margin:0;
  	color:white;
  	font-size:1.5em;
  	font-family: 'Raleway', sans-serif;

}
.wrapper{
	
	height:100%;
	background-color:rgba(0, 0, 0, 0.8);
	min-height:100vh;
}
.logo{
	margin-bottom:2.5%;
}
.content-wrapper{
	display:flex;
	justify-content: center;
	align-items:center;
	flex-wrap:wrap;
	height:100%;
	color:white;
}
.navigation{
	width:100%;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
}
.navigation a{
	font-size:1.5em;
	margin:5px;
	display: flex;
	justify-content: center;
	align-items:center;
	width:25%;
	border:1px solid white;
	padding:0.5em;
	text-align:center;
}
.navigation a:hover{
	color:#09090a;
	background-color:#f2f2f7;
}
a:link{
	text-decoration: none;

}
 a{
	text-decoration: none;
	color:white;
	transition: 0.3s all ease-in-out;
}
a{
	transition: 0.3s all ease-in-out;
}
button:focus{
	outline: 0;
}
.search{
	width:30%;
	border:2px solid white;
	border-radius:20px;
}
.content{
	width:100%;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	text-align: center;
}
.day:first-child{
	padding-top:3%;
}
.day{
	font-size:1em;
	width:70%;
	border:1 px solid white;
	user-select: none;
	padding-bottom:1.5%;
}
.day-activities{
	/*margin-top:5%;*/
	margin:0;
	padding:0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style-type: none;
}
.day-name:hover {
cursor:pointer;

}

.day-name{
	width:28%;
	font-size:1.4em;
	border:none;
	color:white;
	padding:0.2em;
	font-weight:200;
	font-family: 'Raleway', sans-serif;
	background-color: #dd0d22;
	/*border:2px solid white;*/
}
.effect{
	display: none;
	transition: 0.2s all ease-in-out;

}
.name{
	
	transition: 0.2s all ease-in-out;
}
.day-name:hover > .effect{
	display:block;
transition: 0.2s all ease-in-out;
}
.day-name:hover > .name{
	display: none;
	transition: 0.2s all ease-in-out;
	
}
.activity{
	width:100%;
	margin:0.1em;
}
.activity-link{
	padding:0.3em;
	display:block;
}
.activity-link:hover{
	color:#dd0d22;
}
.hidden{
	display:none;
}
/*Wielkości dla różych rozdzielczości*/
@media only screen and (max-width: 975px){
	.day-name{
		font-size:1.2em;
	}
@media only screen and (max-width: 840px){
	.day-name{
		font-size:1.0em;
	}
@media only screen and (max-width: 703px){
	.day-name{
		font-size:0.8em;
	}
@media only screen and (max-width: 680px){
	.navigation a{
		font-size:0.6em;
	}
	.navigation a{
		font-size:0.8em;
	}	
@media only screen and (max-width: 560px){
	.day-name{
		font-size:0.6em;}
	.navigation a{
		font-size:0.6em;
	}
	}	

@media only screen and (max-width: 480px){
	body{
		font-size:0.6em;
	}
	.wrapper{
		
	}
	.logo h1{
		font-size:2.9em;
		margin:0;
	}
	.navigation a{
		font-size:1.4em;
	}
	.day{
		font-size:1.2em;
	}
	.day-name{
		font-size:1em;
		min-width: 70%
	}
}