body,html{
	
}
body{
background: url("tlo.png") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-attachment: fixed;
  	padding:0;
  	margin:0;
  	color:white;
  	font-size:1.5em;
  	font-family: 'Raleway', sans-serif;
}
.wrapper{
	
	height:100%;
	background-color:rgba(0, 0, 0, 0.8);
	min-height:100vh;
}
.content-wrapper{
	display:flex;
	justify-content: center;
	align-items:center;
	flex-wrap:wrap;
	height:100%;
	color:white;
}
.navigation{
	width:100%;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
}
.navigation a{
	margin:5px;
	display: flex;
	justify-content: center;
	align-items:center;
	width:25%;
	border:1px solid white;
	padding:0.5em;
	text-align:center;
}
.navigation a:hover{
	color:#09090a;
	background-color:#f2f2f7;
}
a:link{
	text-decoration: none;

}
 a{
	text-decoration: none;
	color:white;
}
.content{
	width:100%;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	text-align: center;
}
.day:first-child{
	padding-top:3%;
}
.day{
	font-size:1em;
	width:70%;
	border:1 px solid white;
	padding-bottom:3%;
}
.day-activities{
	padding:0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style-type: none;
}
.day-name:hover {
cursor:pointer;
text-decoration: underline;
}
.activity{
	width:100%;
	margin:0.1em;
}
.activity-link{
	display:block;
}
.activity-link:hover{
	text-decoration: underline;
}
.hidden{
	display:none;
}


@media only screen and (max-width: 480px){
	body{
		font-size:1.5em;
	}
	.wrapper{
		
	}
	.logo h1{
		font-size:1.8em;
		margin:0;
	}
	.navigation a{
		font-size:0.9em;
	}
	.day{
		font-size:1.2em;
	}
}
@media only screen and (max-width:390px){
	.navigation a{
		font-size:0.7em;
	}

	.logo h1{
		font-size:1.5em;
	}


}
@media only screen and (max-width:330px){
	.logo h1{
		font-size:1.3em;
	}
}